.multipleChoiceForm{
    width: 50% !important;
}
.multipleChoiceForm label{
    color: white !important;
}
/*
.multipleChoiceForm div:first-child div:first-child::before{
    border-bottom: 1px solid white !important;
}
.multipleChoiceForm div:first-child div:first-child::after{
    border-bottom: 1px solid #1db954 !important;
}*/
.multipleChoiceForm .MuiSelect-select-62{
    color: white !important;
}
.multipleChoiceForm svg {
    color: white !important;
}
div[role="document"]{
    top: 150px !important;
}
ul[role="listbox"]{
    background: #444;
}
li[role="option"]{
    text-transform: capitalize !important;
    color: white;
}