.wolf{
    position: relative;
    width: 100%;
    height: calc(100vh - 64px);
    color: white;
    display: flex;
}

.wolf .results{
    height: 100%;
    width: 75%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wolf .results .row{
    display: flex;
    width: 100%;
    justify-content: center;
}
.wolf .results .grid {
    height: 80%;
    margin-top: 5em;
}

.wolf .results .row .discoverButton {
	color: white !important;
	height: 40px;
    width: auto !important;
	margin: .5em 3em;
    padding: 0 1em !important;
    box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.3);
    text-transform: none;
}

.wolf .results .row .discoverButton svg {
	font-size: 1.5em;
    line-height: 1.5em;
    margin-right: 1em;
}

@media all and (max-width: 939px){
    .wolf .results .grid .itemWrapper{
        width: 12rem;
        height: 12rem;
    }
}
@media all and (max-width: 791px){
    .wolf .results .grid .itemWrapper{
        width: 10rem;
        height: 10rem;
    }
}
@media all and (max-width: 677px){
    .wolf{
        flex-direction: column;
    }
    .wolf .sliders {
        width: 100%;
        display: none;
    }
    .wolf .results {
        width: 100%;
        padding: .7em;
    }
    .wolf .results .grid .itemWrapper{
        width: 15rem;
        height: 15rem;
    }
    .wolf .results .row{
        width: 100%;
        flex-direction: column-reverse;
    }
    .wolf .results .row .discoverButton {
        margin: 1em 3em !important;
    }
    .wolf .results .row .multipleChoiceForm{
        width: 100% !important;
    }
}
