.analytics{
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.analytics .wrapper{
    position: relative;
    width: 95%;
    height: 80vh;
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 5px;
}

/* styling tabs */
.analytics .wrapper header{
    background: rgba(17, 17, 17, 0.8);
    box-shadow: unset;
    padding: 0 0;
    height: 4em;
    border: none;
}
.analytics .wrapper header button{
    min-height: 4em;
    min-width: 6em;
}

.analytics .chart {
    background: rgba(255, 255, 255, 0.01);
    border-radius: 5px;
    padding: 1em;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 420px;
}

.analytics .chart .graph {
    height: 400px;
}